@using Forum.BLL.DTO
@model IEnumerable<UserDTO>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a href=@Url.Action("Block","Admin", new { userid = user.Id })>Блокировка</a>
            </td>
        </tr>
    }
</table>
