@using Forum.BLL.DTO
@model IEnumerable<UserDTO>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if(user.IsBlocked)
                {
                    <a href=@Url.Action("BlockUser", "Admin", new { userid = user.Id })>Разблокировать</a>
                }
                else
                {
                    <a href=@Url.Action("UnBlockUser", "Admin", new { userid = user.Id })>Заблокировать</a>
                }
            </td>
        </tr>
    }
</table>
