body {
    background-image: url('img/body-bg.gif');
}

.main {
    margin-bottom: 100px;
}

.navbar-logo {
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 10px 0px 5px 20px;
    width: 300px;
    height: 160px;
}

.navbar-cont {
    background-image: url('img/nav-bg.jpg');
    background-repeat: repeat;
    margin: 0px 15px 0px 15px;
    border: double 4px #808080;
    padding: 0px 0px 0px 0px;
    /*padding-bottom:10px;*/
    border-radius: 0px 0px 10px 10px;
    border-top: 0px;
    /*overflow: hidden;*/
}

.block {
    background-image: url('img/content-bg.png');
    border-style: solid;
    border: double 4px #808080;
    border-radius: 15px 15px 15px 15px;
    margin: 10px 0px 10px 0px;
    min-width: 650px;
    padding: 0px;
}

.content {
    min-height: 400px;
    padding: 15px;
}

.nav-forum {
    border-top: 0px;
    border-radius: 0px 0px 15px 15px;
    margin-top: 0px;
}

.nav-menu {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.category {
    border: double 3px #808080;
    margin: 15px 0px 5px 0px;
    border-radius: 8px;
    overflow: hidden;
}

    .category .panel-heading {
        background-image: url('img/nav-bg.jpg');
        background-repeat: repeat;
        border: double #808080;
        border-top: 4px;
        border-left: 4px;
        border-right: 4px;
        color: #ffffff;
    }

.right {
    float: right;
    margin: auto 0px auto 0px;
}

.category h3{
    float:left;
    margin:auto 0px auto 0px;
}

.panel-forum {
    padding: 0px;
}

.panel-heading h3.panel-title {
    display: inline-block;
}

.table-forum {
    text-align: center;
    margin: 0px;
    width: 100%;
}

    .table-forum > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }

.description-colum {
    width: 85%;
}

    .description-colum h3, h4 {
        margin: 0;
    }

    .description-colum div {
        text-align: left;
        margin: auto 0px auto 0px;
    }

.authorize-form {
    padding: 0px 50px 0px 50px;
}

.user-info {
    float: right;
    margin: 20px 20px 0px 0px;
    color: white;
    font-size: 1.1em;
}

    .user-info ul {
        list-style: none;
    }

    .user-info a {
        text-decoration: none;
        color: white;
    }

        .user-info a:hover {
            text-decoration: none;
            color: #cfbfbf;
        }

    .user-info i {
        margin: 0px 5px 0px 5px;
    }

.admin-panel {
    position: relative;
}

    .admin-panel .btn-group {
        margin: 7px 0px 0px 30px;
    }

.empty-message {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}



.table-comment {
    min-height: 200px;
}

    .table-comment thead tr {
        height: 50px;
        color: #381bae;
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        background-color: antiquewhite;
    }

.user-name {
    width: 220px;
}

.user-item {
    margin: 10px;
}

    .user-item p {
        line-height: 32px;
        padding: 0px 10px 0px 10px;
        margin: 0px 0px 0px 0px;
        height: 35px;
        border: 1px solid #ccc;
        border-radius: 4px 0px 0px 4px;
    }
