body {
    background-image:url('img/body-bg.gif')
}



.navbar-logo{
    
    background-image:url('img/logo.png');
    background-repeat:no-repeat;
    background-size:cover;
    margin:5px 0px 5px 0px;
    width:300px;
    height:160px;
}

.navbar-cont{
    background-image:url('img/nav-bg.jpg');
    background-repeat:repeat;
    margin:0px 15px 0px 15px;
    border:double 4px #808080;
    padding-bottom:10px;
    border-radius:0px 0px 10px 10px;
    border-top:0px;
    overflow:hidden;
    
}

.content{
    background-image:url('img/content-bg.png');
    border-style:solid;
    border:double 4px #808080;
    border-radius:15px 15px 15px 15px;
    margin:10px 0px 10px 0px;
    padding:0px;
}

.nav-forum{
    border-top:0px;
    border-radius:0px 0px 15px 15px;
    margin-top:0px;
}

.nav-menu{
    margin:10px 0px 10px 0px;
}

.category{
    border:double 3px #808080;
    margin:15px 10px 5px 10px;
    border-radius:8px;
    overflow:hidden;
}

.category .panel-heading
{
    background-image:url('img/nav-bg.jpg');
    background-repeat:repeat;
    border:double #808080;
    border-top:4px;
    border-left:4px;
    border-right:4px;
    color:#ffffff;
}

.stretch{
    margin:0px;
    width:100%;
}

.panel-forum{
    padding:0px;
}

.thems, .reply{
    width:75px;
    text-align:center;  
}

