@using Forum.BLL.DTO.Content.Category
@model IEnumerable<CategoryDTO>

@foreach (CategoryDTO category in Model)
{
    <div class="panel panel-default category">
        <div class="panel-heading">
            <h3 class="panel-title">@category.Name</h3>
        </div>
        <div class="panel-body panel-forum">
            @if (category.SubCategories.Count() > 0)
            {<table class="table table-bordered table-striped stretch table-forum">
                <thead>
                    <tr>
                        <td>Форум</td>
                        <td class="thems">Темы</td>
                        <td class="reply">Ответы</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SubCategoryDTO sub in category.SubCategories)
                    {
                        <tr>
                            <td><a href="@Url.Action("index","topic", new { subCategoryId = sub.Id })">@sub.Name</a></td>
                            <td class="thems">551</td>
                            <td class="reply">1223</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <p class="empty-message">Пусто.</p>
            }
        </div>
    </div>
}