@using Forum.Core.DAL.Entities.Content
@model Topic

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Comments.Count() > 0)
{
    foreach (Comment comment in Model.Comments)
    {
        <div class="panel panel-default category">
            <div class="panel-body panel-forum">
                <table class="table table-bordered table-striped stretch table-comment">
                    <thead>
                        <tr>
                            <td class="user-name">@comment.User.UserName</td>
                            <td>@comment.Date.ToString("dd.MM.yy, H:mm:ss")</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="message">
                            <td colspan="2">@comment.Message</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    }
}
else
{
    <p class="empty-message">Пусто.</p>
}
<a class="btn btn-danger right" href=@Url.Action("Update","Comment", new { currentId = Model.Id })>Добавить ответ</a>
