@model Forum.WEB.Models.ContentViewModels.TopicViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <lable class="control-label col-md-2">Описание</lable>
        <div class="col-md-10">
            <input type="text" name="Description" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div id="editor"></div>
        </div>
    </div>
    <input type="hidden" name="SubCategoryId" value="@Model.SubCategoryId" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="topic-send-btn" type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </div>
</div>
