<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/forum.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav>
            <div class="container-fluid block nav-forum">
                <div class="container-fluid navbar-cont">
                    <div class="navbar-logo">

                    </div>
                    
                        <div class="user-info">
                            <ul>@if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <p><i class="glyphicon glyphicon-user"></i>@User.Identity.Name</p>
                                </li>
                                <li>
                                    <p><i class="glyphicon glyphicon-bell"></i>Оповещения</p>
                                </li>
                                <li>
                                    <a href=@Url.Action("Logout")><i class="glyphicon glyphicon-log-out"></i>Выйти</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href=@Url.Action("Login")><i class="glyphicon glyphicon-log-in"></i>Войти</a>
                                </li>
                                <li>
                                    <a href=@Url.Action("Registration")><i class="glyphicon glyphicon-registration-mark"></i>Зарегистрироваться</a>
                                </li>
                            }
                            </ul>
                        </div>
                    
                    
                </div>
                <div class="container-fluid nav-menu">
                    <div class="btn-group">
                        <button class="btn btn-default">Главная</button>
                        <button class="btn btn-default">Главная</button>
                        <button class="btn btn-default">Главная</button>
                        <button class="btn btn-default">Главная</button>
                        <button class="btn btn-default">Главная</button>
                    </div>
                </div>
            </div>
        </nav>
        <content>
            <div class="container-fluid block content">
                @RenderBody()
            </div>
        </content>
    </div>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
