@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid admin-panel">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div>
                <div class="btn-group">
                    <a href=@Url.Action("UpdateCategory","Category") class="btn btn-default">Добавить новую категорию</a>
                    <a href=@Url.Action("UpdateSubCategory", "SubCategory") class="btn btn-default">Добавить новую подкатегорию</a>
                </div>
            </div>
        </div>
    </div>
}
