@{
    bool isAdmin = User.IsInRole("admin");
}

@if (isAdmin)
{
    <div class="container-fluid admin-panel">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div>
                <div class="btn-group">
                        <a href=@Url.Action("logs","admin") class="btn btn-default">Посмотреть логи</a>
                        <a href=@Url.Action("userlist","admin") class="btn btn-default">Список пользователей</a>
                        <a href=@Url.Action("Update", "Category") class="btn btn-default">Добавить новую категорию</a>
                </div>
            </div>
        </div>
    </div>
}
